<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <title>복지어때</title>
    <link rel="stylesheet" href="../static/css/mainpagecss.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function () {
            mainpostap();
            profileid();
        });

        function addPost() {
            let link = "/";
            window.location.href = link;
        }


        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/'
        }


        function profileid() {
            $.ajax({
                type: "GET",
                url: "/api/mainpage",
                data: {},
                success: function (response) {
                    let nickname = response['user']['nick']
                    let temp_html = `<button class="nickname" id="profileid">
                                                ${nickname}
                                            </button>`
                    $('#profile-btn').append(temp_html)

                }
            })
        }

        function favorite (remove) {
            $.ajax({
                type: "post",
                url: "/api/remove",
                data: {numremove: remove},
                success: function (response) {
                alert(response["msg"])
                    window.location.reload() }
            })}

        function mainpostap() {
            $.ajax({
                type: "GET",
                url: "/api/mainpage",
                data: {},
                success: function (response) {
                    let company = response['company']
                    let user = response['user']
                    let heart = user['is_saved']
                    let num1 = heart.map(i => Number(i))


                    for (let i = company.length - 1; i > -1; i--) {
                        let companyname = company[i]['companyName']
                        let url = company[i]['companyLogo']
                        let comnum = company[i]['companyNumber']
                        if (num1.includes(comnum)) {
                            let temp_html = `<div class="card mb-3"
                     style="max-width: 600px; margin:auto; height: auto; display: flex; flex-direction: column; justify-content:center; align-items: center;">
                    <div class="row g-0">
                        <div class="col-md-4">
                                 <img src="../static/img/${url}" class="img-fluid rounded-start" alt="...">                        </div>
                        <div class="col-md-8">
                            <div class="card-body" style="margin-top: 60px; ">
                                <a href="/detail?company=${companyname}">
                                <h1 class="card-text"
                                    style="display: inline; flex-direction: column; margin-left: 20px;">
                                    ${companyname}</h1>
                                </a>
                            </div>
                            <div class="heartbox">
                                            <a onclick="favorite(${comnum})">
                                            <svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" >

                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                    </svg>
                                               </a>
                                </div>
                    </div>
                    </div>`
                            $('#infoBox').append(temp_html)
                        } else {

                        }
                    }
                }
            })
        }

    </script>
    <style>
          *{
            font-family: 'Jua', sans-serif;
              }
        .nickname > button {
            border-radius: 50px;
        }
        .card{
            border-radius: 20px;
        }
        .col-md-4{

            border-radius: 20px;
        }

        .body{
            margin-top: 100px;

        }
        .profile-lo{
            margin-top: 50px;
            margin-left: 45%;


        }
        .logo1{
            margin-top: 20px;
            width: 200px;
        }
        .img-fluid{
            border-radius: 20px;
        }
        .nickname-lo{
            float: right;
            margin-right: 100px;
        }
        .logout{
            margin-top: 20px;
        }
        .heartbox{
            margin-left: 340px;
        }
        .card-text{
            border: solid;
            display: inline-block;
            position: absolute;
        }
    </style>
</head>
<body class="main">
<div class="container">
    <div class="header">
        <div >
            <a href="/main"><img class="logo1" src="../static/img/logo.png"></a>
        </div>
    </div>
</div>

<div class="profile-lo">
    <div class="nickname-lo" id="profile-btn">

    </div>
    <img style="width: 100px; border-radius: 50px" src="../static/img/이미지.png" class="radius_img_1">
    <button class="logout" onclick="logout()">
        로그아웃
    </button>
</div>
<div class="body" id="infoBox">

</div>
</body>
</html>